# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
.DS_Store
.vscode/
tests/env.js
utils/env.js
post_requests/*.json   # if you want to avoid committing fixtures with secrets
