# .github/workflows/k6-no-deps.yml
name: K6 Tests (No Dependencies)

on: [push, workflow_dispatch]

jobs:
  k6-tests:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup k6
      uses: grafana/setup-k6-action@v1
    
    - name: Run Smoke Test
      run: k6 run tests/smoke/dummyjson-smoke-nodeps.js
    
    - name: Run Load Test
      run: k6 run tests/load/dummyjson-load-nodeps.js
    
    - name: Run Spike Test
      run: k6 run tests/spike/dummyjson-spike-nodeps.js
