# .github/workflows/k6-spike.yml
name: k6 spike test

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  k6:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install k6
        uses: grafana/setup-k6-action@v1

      - name: Run k6 spike test
        run: |
          k6 run tests/spike/dummyjson-spike.js
